# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store
Thumbs.db

# IDE
.github/**
.vscode/**
.vscode-test/**
.idea

# cli
dist

# samples
samples

# source
src/**
out/test/**
out/**/*.map
.gitignore
tsconfig.json
tslint.json
