# dependencies
node_modules

# yarn
.yarnrc.yml
.yarn/**

# eslint
.eslintcache

# misc
.DS_Store
Thumbs.db

# IDE
.github/**
.vscode/**
.vscode-test/**
.idea

# cli
dist

# samples
samples

# source
src/**
out/test/**
out/**/*.map
.gitignore
tsconfig.json
tslint.json
